/* Miq Css - by Mostafa Iqbal */
/* ***** BODY DEFAULT MARGING PADDING **** */
html, body {
    padding: 0;
    margin: 0;
    background-color: black;
    background-image: url(../../photos/bgimg01.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: auto;
    }
/* topbar */
#topbar {
    width: 100%;
    height: 33px;
    border-bottom: 1px rgb(51, 51, 51) solid;
    font-size: 12px;
    color: wheat;
    text-align: right;    
}

@media only screen and (max-width: 950px) {
    #topbar{
        display: none;
    }
}

#topbarEmail {
    margin-right: 35px;
}  
#topbarBook {
    margin-left: 35px;
    display: none;
}

.topbarbtn,  #topbarbook {
    border-radius: 5px;
    padding: 2px 4px;
    position: relative;
    top: -3px;
}
.topbarbtn a {
    color: white;
    font-size: 12px!important;
}

#topbarLogin {
    margin-left: 35px;
    position: relative;
    top: 3px;
}

/* navbar 
@media screen and (min-device-width: 1060px) and (max-device-width: 2600px) {     
    .navbar {
        margin-left: 25%;
     }
}
@media screen and (min-device-width: 1000px) and (max-device-width: 1030px) {     
    .navbar {
        margin-left: 4%;
     }
}*/

.navbar .navbar-brand {
    color: wheat;
}

.menu {
    font-family: 'Cinzel Decorative', ; 
    font-size: 20px;
    color: wheat;
    margin-left: 30px;
    text-align: center;
}

#mobileLogin {
    color: wheat;
    font-size: 80%;
    
}

.navbar-toggler-icon {
    background-color: wheat;
    font-size: 80%;
}

/* H1 */

/*Booking button */
.btn2 {
    margin-top: 20%;
    background-color: black;
    border: 1px solid gray; 
}
/*Booking mobile margin setup button */
@media only screen and (max-width: 1026px) {
    .btn2 {
        margin-top: 30%;
    }
}
.btn2:hover {
    background-color: gray;
}
.btn2 a {
    font-size: 25px;    
    color: wheat;
}

.btn2 a:hover {
    text-decoration: none;
}
.delay-2s {
    animation-delay: 3s;
}
/*Service Section*/
.service {
    background-color: white;
    border: 1px solid white;
    margin-top: 700px;
}
@media only screen and (max-width: 1026px) {
    .service {
        display: none;
    }
}
.rowh1 {
    text-align: center;
    padding-top: 80px;
}
.rowText {
    padding: 20px 100px 100px 100px;
    text-align: justify;
}
#row1 {
    height: 500px;
    border: 1px solid gray;
}

#row2 {
    height: 500px;
    border: 1px solid gray;
    background-image: url(../../photos/bgimg03.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}
#row3 {
    height: 500px;
    border: 1px solid gray;
    background-image: url(../../photos/bgimg05.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(3px);
  -webkit-filter: blur(3px);
}

#row4 {
    height: 500px;
    border: 1px solid gray;
}

#row5 {
    height: 500px;
    border: 1px solid gray;
}

#row6 {
    height: 500px;
    border: 1px solid gray;
    background-image: url(../../photos/bgimg06.jpg);
    background-size: cover;
    background-repeat: no-repeat;
   
}
#fleet {
    height: 300px;
    border: 1px solid gray;
    background-color: black;
}
#fleeth {
    text-align: center;
    padding-top: 15px;
}

/*footer serction*/
footer {
    margin-top: 10px;
    height: 15px;
    background-color:black;
    clear:both;
}

footer ul li {
    display: inline;
   padding: 10px;
   color: wheat;
}
footer ul li a {
    color: wheat;
}
footer ul li a:hover {
    color: wheat;
    text-decoration: none;
    background-color: gray;
}
/*test css*/

